.bike {
    height: 100vh; /* Adjusted height for better responsiveness */
    display: flex; /* Added for centering content */
    justify-content: center; /* Added for centering content */
    align-items: center; /* Added for centering content */
}

@keyframes colorChange {
    0% {
        color: #f05a27; /* Start color (orange) */
    }
    15% {
        color: #f05a27;
    }
    50% {
        color: #ffffff;
    }
    85% {
        color: #f05a27;
    }
    100% {
        color: #f05a27;
    }
}

.bike h1 {
    text-align: center;
    font-size: 10vw; /* Adjusted font size for better responsiveness */
    animation: colorChange 5s linear infinite;
    margin: 0; /* Updated margin for better spacing */
    margin-bottom: 100px;
}