.team {
    background-color: #161616;
}

.team h1 {
    font-size: 70px;
    color: #ffffff;
}

.top-section {
    position: relative; /* Make the top-section relative to allow absolute positioning */
    text-align: center;
    color: #ffffff;
    margin-top: -95px;
}

.top-section h1 {
    position: absolute; /* Position the h1 absolutely */
    top: 50%; /* Align to the vertical center */
    left: 50%; /* Align to the horizontal center */
    transform: translate(-50%, -130%); /* Center the text */
    z-index: 1; /* Ensure the text is above the image */
    font-size: 2rem; /* Adjust the font size as needed */
    color: #F05A27;
    font-size: 100px;
}

.top-section img {
    max-width: 100%;
    height: auto;
    filter: grayscale(0.8)
}

/* Style for the team members section */
.team-members {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 10px;
    padding: 50px;
    padding-top: 80px;
}

.card {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card:hover {
    transform: translateY(-5px) scale(1.02);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card img {
    width: 90%;
    height: 350px;
    object-fit: cover;
    margin-bottom: 10px;
    border-radius: 2px;
}

.card h2 {
    margin-bottom: 5px;
    font-size: 1.5rem;
}

.card h3 {
    margin-bottom: 5px;
    color: #888;
    font-size: 1.2rem;
}

.card p {
    font-size: 1rem;
    color: #555;
}

.subteam-container {
    display: flex;
    padding-top: 0px;
    padding: 60px;
    padding-top: 100px;
    padding-bottom: 100px;
    margin-top: -150px;
}

.section {
    padding: 0px;
    border-radius: 8px;
    text-align: center;
    flex: 1; /* Allow sections to take equal width */
    margin-right: 0px; /* Adjust spacing between sections as needed */
}

.section:last-child {
    margin-right: 0; /* Remove margin from last section to prevent extra spacing */
}

.section h2 {
    margin-bottom: 10px;
    font-size: 3rem;
    color: #f05a27; /* Adjust heading color as needed */
}

.section ul {
    list-style-type: none;
    padding: 0;
}

.section ul li {
    font-size: 1.5rem;
    margin-bottom: 5px;
    color: #ffffff; /* Adjust text color as needed */
}

@media screen and (max-width: 767px) {
    .top-section {
        position: relative;
        text-align: center;
        color: #ffffff;
        height: auto;
        padding-top: 200px;
    }

    .top-section h1 {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 1;
        font-size: 5rem;
        color: #f05a27;
    }

    .top-section::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(22, 22, 22, 1); /* Adjust the opacity here */
        z-index: 0;
    }

    .top-section img {
        max-width: 100%;
        height: auto;
    }

    .team-members {
        padding-top: 20px; /* Add some padding to the team members section on mobile */
        grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
        gap:50px
    }

    .card img {
        height: 300px; /* Adjust image height on mobile */
    }

    .subteam-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section {
        text-align: center;
        margin-right: 0;
        margin-bottom: 20px; /* Add some space between sections */
        padding: 20px;
        border-radius: 8px;
        max-width: 300px; /* Optional: Limit the width of the section box */
    }

    .section h2 {
        margin-bottom: 10px; /* Optional: Add some space below the header */
    }

    .section ul {
        padding: 0; /* Remove padding for list items on mobile */
    }
}
