/* Existing styles for larger screens */
header {
    background-color: #ffffff;
    padding: 10px;
    padding-right: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 22px;
    font-weight: bold;
    border-radius: 100px;
    margin-top: 30px;
    margin-bottom: 50px;
    height: 60px;
  }
  
  nav {
    display: flex;
    align-items: center;
  }
  
  .logo {
    width: 300px;
    height: auto;
    margin-right: 20px;
    padding-left: 30px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    align-items: center;
  }
  
  li {
    margin: 0 15px;
    color: #000000;
    cursor: pointer;
    transition: color 0.3s ease-in-out;
  }
  
  /* New styles for mobile screens */
  @media only screen and (max-width: 768px) {
    header {
      padding: 10px;
      padding-right: 20px;
    }
  
    .mobile-menu {
      position: relative;
    }
  
    .menu-icon {
      font-size: 24px;
      cursor: pointer;
    }
  
    ul {
      flex-direction: column;
      text-align: center;
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      background-color: #ffffff;
      display: none;
      z-index: 1;
    }
  
    ul.show {
      display: flex;
    }
  
    li {
      margin: 15px 0;
    }
  
    .join-button {
      background-color: #42546f;
      color: #ffffff;
      padding: 8px 15px;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease-in-out;
    }
  
    .join-button:hover {
      background-color: #E56E15;
      color: #ffffff;
    }
  }
  